main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

.separator {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
}
.separator:before {
  content: '';
  flex-grow: 1;
  border-top: 1px solid #cecece;
  margin-right: 10px;
}
.separator:after {
  content: '';
  flex-grow: 1;
  border-top: 1px solid #cecece;
  margin-left: 10px;
}

button.kep-login-facebook.metro {
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 10px;
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
